//color
$white: #fff;
$black: #000;
$primary: #21243D;

* {
    color: $primary;
}

body {
    padding: 15px;
}

.container {
    max-width: 856px;
    margin: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


