 .header {
    color: $white;

    .container {
        max-width: 1152px;
    }

    .toggle {
        color: #21243D;
        text-align: right;
        display: none;
    }

    @media screen and( max-width:768px ) {
        .toggle {
            display: block;
        }
    }

    .navbar {
        ul {
            display: flex;
            justify-content: right;
            padding-right: 45px;
            padding-top: 12px;
        }

        @media screen and( max-width:768px ) {
            ul {
                display: block;
                text-align: center;
            }
        }

        li {
            padding-left: 33px;
        }

        a {
            color: $black;
            font-weight: 500;
            font-size: 20px;
            line-height: 29.38px;
        }

        a:hover {
            color: #FF6464;
        }
    }
}
