 .header {
    color: $white;
    
    .container {
        max-width: 1152px;
    }

    .navbar {
        ul {
            display: flex;
            justify-content: right;
            padding-right: 45px;
            padding-top: 12px;
        }

        li {
            padding-left: 33px;
        }

        a {
            color: $black;
            font-weight: 500;
            font-size: 20px;
            line-height: 29.38px;
        }

        a:hover {
            color: #FF6464;
        }
    }
}
