@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");
.introduction {
  padding-top: 140px;
  padding-bottom: 71px;
}

.introduction__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.introduction h2 {
  width: 447px;
}

.introduction p {
  width: 493px;
  padding-top: 40px;
  padding-bottom: 38px;
}

.introduction img {
  width: 243px;
  height: 243px;
  position: relative;
  top: -10px;
}

.recent-posts {
  background: #EDF7FA;
  padding-bottom: 32px;
}

.recent-posts__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent-posts__heading p {
  font-size: 22px;
  line-height: 60px;
  color: #21243D;
}

.recent-posts__heading a {
  color: #00A8CC;
  font-size: 16px;
  line-height: 23.5px;
}

.recent-posts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recent-posts__content--item {
  background: #fff;
  max-width: 418px;
  padding-bottom: 24px;
}

.recent-posts__content--item h3 {
  padding-top: 24px;
  padding-left: 23px;
}

.recent-posts__content--item .item-note {
  padding-top: 17px;
  padding-bottom: 11px;
  padding-left: 23px;
  font-size: 18px;
  line-height: 26.44px;
}

.recent-posts__content--item span {
  padding: 26px;
}

.recent-posts__content--item .item-text {
  width: 373px;
  padding-left: 23px;
}

.featured-works {
  padding-bottom: 83px;
}

.featured-works__heading {
  padding-top: 15px;
  padding-bottom: 22px;
}

.featured-works__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #E0E0E0;
}

.featured-works__item img {
  padding-right: 18px;
}

.featured-works__item--item1 {
  padding-bottom: 15px;
}

.featured-works__item--item2 {
  padding-top: 31px;
  padding-bottom: 35px;
}

.featured-works__item--item3 {
  padding-top: 31px;
  padding-bottom: 32px;
}

.featured-works h3 {
  font-size: 30px;
  line-height: 44.06px;
}

.featured-works .button--secondary {
  margin-top: 20px;
  margin-right: 26px;
  margin-bottom: 22px;
}

.featured-works span {
  color: #8695A4;
  font-size: 20px;
  line-height: 29.38px;
}

.blog {
  padding-bottom: 21px;
}

.blog h2 {
  padding-top: 106px;
  padding-bottom: 55px;
}

.blog h3 {
  font-size: 30px;
  line-height: 44.06px;
}

.blog__item--note {
  padding-top: 16px;
  padding-bottom: 15px;
  font-size: 20px;
  line-height: 29.38px;
}

.blog .character {
  padding: 20px;
}

.blog .express {
  color: #8695A4;
  font-size: 20px;
  line-height: 29.38px;
}

.blog__item {
  padding-bottom: 29px;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 32px;
}

.blog__item--text {
  width: 606px;
}

.work {
  padding-top: 90px;
}

.work__content {
  padding-top: 25px;
}

.work__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 47px;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 43px;
}

.work img {
  padding-right: 28px;
}

.work__item--note {
  padding-top: 16px;
  padding-bottom: 19px;
}

.work p {
  width: 406px;
}

.work .button--secondary {
  margin-right: 36px;
}

.work span {
  font-weight: 400;
  font-size: 20px;
  line-height: 29.38px;
  color: #8695A4;
}

* {
  padding: 0;
  margin: 0;
}

* {
  font-family: "Heebo", sans-serif;
  font-style: normal;
  font-size: 16px;
}

h2 h3 {
  font-weight: 700;
}

h2 {
  font-size: 44px;
  line-height: 60px;
}

h3 {
  font-size: 26px;
  line-height: 38.19px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 23.5px;
}

body {
  padding: 15px;
}

.container {
  max-width: 856px;
  margin: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  color: #fff;
}

.header .container {
  max-width: 1152px;
}

.header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding-right: 45px;
  padding-top: 12px;
}

.header .navbar li {
  padding-left: 33px;
}

.header .navbar a {
  color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 29.38px;
}

.header .navbar a:hover {
  color: #FF6464;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 51px;
  padding-bottom: 26px;
}

.footer li {
  padding-left: 16px;
  padding-right: 16px;
}

.footer p {
  text-align: center;
  padding-bottom: 54px;
  color: #21243D;
  font-size: 14px;
  line-height: 20.56px;
}

.footer .ins1 {
  position: absolute;
}

.footer .ins2 {
  position: relative;
  right: -7px;
  bottom: -6px;
}

.footer .ins3 {
  position: relative;
  right: -2px;
  top: -8px;
}

.button {
  border: none;
  color: #fff;
}

.button--primary {
  width: 208px;
  height: 47px;
  background: #FF6464;
  font-size: 20px;
  line-height: 29.38px;
  font-weight: 500;
  cursor: pointer;
}

.button--secondary {
  width: 62px;
  height: 25px;
  background: #142850;
  border-radius: 16px;
}
/*# sourceMappingURL=styles.css.map */