.blog {
    padding-bottom: 21px;

    h1 {
        padding-top: 106px;
        padding-bottom: 55px;
    }

    h3 {
        font-size: 30px;
        line-height: 44.06px;
    }

    .time {
        padding-top: 16px;
        padding-bottom: 15px;
        font-size: 20px;
        line-height: 29.38px;
    }

    .character {
        padding: 20px;
    }

    .express {
        color: #8695A4;
        font-size: 20px;
        line-height: 29.38px;
    }

    .item {
        padding-bottom: 29px;
        border-bottom: 1px solid #E0E0E0;
        margin-bottom: 32px;
    }
}