.introduction {
    padding-top: 140px;
    padding-bottom: 71px;

    &__content {
        display: flex;
        justify-content: space-between;
    }

    h2 {
        width: 447px;
    }
    
    p {
        width: 493px;
        padding-top: 40px;
        padding-bottom: 38px;
    }

    img {
        width: 243px;
        height: 243px;
        position: relative;
        top:-10px;
    }
}

.recent-posts {
    background: #EDF7FA;
    padding-bottom: 32px;

    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: 22px;
            line-height: 60px;
            color: #21243D;
        }

        a {
            color: #00A8CC;
            font-size: 16px;
            line-height: 23.5px;    
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__content--item {
        background: #fff;
        max-width: 418px;
        padding-bottom: 24px;

        h3 {
            padding-top: 24px;
            padding-left: 23px;
        }

        .item-note {
            padding-top: 17px;
            padding-bottom: 11px;
            padding-left: 23px;
            font-size: 18px;
            line-height: 26.44px;
        }

        span {
            padding: 26px;
        }
        
        .item-text {
            width: 373px;
            padding-left: 23px;
        }
    }
}

.featured-works {
    padding-bottom: 83px;

    &__heading {
        padding-top: 15px;
        padding-bottom: 22px;
    }

    &__item {
        display: flex;
        border-bottom: 1px solid #E0E0E0;

        img {
            padding-right: 18px;
        }
    }

    &__item--item1 {
        padding-bottom: 15px;
    }

    &__item--item2 {
        padding-top: 31px;
        padding-bottom: 35px;
    }

    &__item--item3 {
        padding-top: 31px;
        padding-bottom: 32px;
    }

    h3 {
        font-size: 30px;
        line-height: 44.06px;
    }

    .button--secondary {
        margin-top: 20px;
        margin-right: 26px;
        margin-bottom: 22px;
    }

    span {
        color: #8695A4;
        font-size: 20px;
        line-height: 29.38px
    }
}