.introduction {
    padding-top: 140px;
    padding-bottom: 71px;

    &__content {
        display: flex;
        justify-content: space-between;
    }

    @media screen and(max-width: 768px) {
        &__content {
            display: block;
        }
    }

    h2 {
        width: 506px;
    }

    @media screen and(max-width: 768px) {
        h2 {
            text-align: center;
            width: auto;
            font-size: 32px;
            line-height: 40px;
        }
    }
    
    p {
        width: 497px;
        padding-top: 40px;
        padding-bottom: 38px;
    }

    @media screen and(max-width: 768px) {
        p {
            text-align: center;
            width: auto;
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }

    img {
        width: 243px;
        height: 243px;
    }

    .image-small {
        display: none;
    }

    @media screen and(max-width: 768px) {
        .image-small {
            display: block;
            width: 170.86px;
            height: 170.86px;
            margin: auto;
        }

        .image-big {
            display: none;
        }
    }
}

@media screen and(max-width: 768px) {
    .introduction {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

//recent-post
.recent-posts {
    background: #EDF7FA;
    padding-bottom: 32px;

    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: 22px;
            line-height: 60px;
            color: #21243D;
        }

        @media screen and(max-width: 768px) {
            p {
                font-size: 18px;
                line-height: 60px;
            }
        }

        a {
            color: #00A8CC;
            font-size: 16px;
            line-height: 23.5px;    
        }

        @media screen and(max-width: 768px) {
            a {
                display: none;
            }
        }
    }

    @media screen and(max-width: 768px) {
        &__heading {
            justify-content: center;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    @media screen and(max-width: 768px) {
        &__content {
            display: block;
        }
    }

    &__content--item {
        background: #fff;
        max-width: 418px;
        padding-bottom: 24px;

        h3 {
            padding-top: 24px;
            padding-left: 23px;
        }

        @media screen and(max-width: 768px) {
            h3 {
                font-size: 22px;
                line-height: 30px; 
            }
        }

        .item-note {
            padding-top: 17px;
            padding-bottom: 11px;
            padding-left: 23px;
            font-size: 18px;
            line-height: 26.44px;
        }

        @media screen and(max-width: 768px) {
            .item-note {
            font-size: 18px;
            line-height: 23.5px; 
            }
        }

        span {
            padding: 26px;
        }
        
        .item-text {
            width: 373px;
            padding-left: 23px;
        }
    }

    @media screen and(max-width: 768px) {
        &__content--item {
            margin: auto;
            margin-bottom: 17px;
        }
    }
}

//featured-works
.featured-works {
    padding-bottom: 83px;

    &__heading {
        padding-top: 15px;
        padding-bottom: 22px;
    }

    @media screen and(max-width: 768px) {
        &__heading {
            text-align: center;
            font-size: 18px;
            line-height: 60px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }

    &__item {
        display: flex;
        border-bottom: 1px solid #E0E0E0;

        img {
            padding-right: 18px;
        }

        @media screen and(max-width: 768px) {
            img {
                height: 230px;
                padding-right: 0px;
            }
        }
    }

    @media screen and(max-width: 768px) {
        &__item {
            display: block;
        }
    }

    &__item--item1 {
        padding-bottom: 15px;
    }

    &__item--item2 {
        padding-top: 31px;
        padding-bottom: 35px;
    }

    @media screen and(max-width: 768px) {
        &__item--item2 {
            display: none;
        }
    }

    &__item--item3 {
        padding-top: 31px;
        padding-bottom: 32px;
    }

    @media screen and(max-width: 768px) {
        &__item--item3 {
            display: none;
        }
    }

    h3 {
        font-size: 30px;
        line-height: 44.06px;
    }

    @media screen and(max-width: 768px) {
        h3 {
            font-size: 24px;
            line-height: 30px;
        }
    }

    .button--secondary {
        margin-top: 20px;
        margin-right: 26px;
        margin-bottom: 22px;
    }

    span {
        color: #8695A4;
        font-size: 20px;
        line-height: 29.38px
    }
}